traefik/.env
traefik/traefik.toml
traefik/acme.json
traefik/traefik_dynamic.toml
portainer/.env
ansible/inventory/inventory.yml
manifests/cert-manager/certifcates/*
manifests/cert-manager/issuers/*
manifests/traefik/dashboard/secret-dashboard.yml
